*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica, sans-serif, Arial;
}
@media screen and (max-width: 1000px){
    .contenttop{
       display: block;
       width:auto;
    }
    .logoleft{
        position: relative;
        top:-150px;
        left: 50px;
        height:400px ;
    }
    #logo{
        position: relative;
        left: 25%;
        width: 200px;
    }
    #logincontainer{
        position: relative;
        top: -20px;
        /* left: 100px; */
        /* vertical-align: middle; */
        /* margin-bottom: 0;
        padding-bottom: 0; */
        margin-right: 550px;
    }
    #pageinfo{
        font-size: 20px;
        line-height: 10px;
    }
}
.globalcontainer{
    margin: 0 auto;
    position: relative;
}
#content{
    margin: 0;
    outline: none;
    width: auto;
    padding: 0;
}
.head{
    padding-bottom: 112px;
    padding-top: 72px;
    background-color: #f0f2f5;
    background-size: auto;
    background-attachment: scroll;
    background-repeat: repeat;
    background-clip: border-box;
    min-width: 500px;
}
.contenttop{
    padding: 20px 0;
    position: relative;
    height: 496px;
    margin-left: 100px;
    width: auto;
}
.logoleft{
    font-family: inherit;
    width: 400px;
   height: 600px;
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 32px;
    display: inline-block;
    vertical-align: top;
}  
#logocontainer{
    padding: 112px 0 16px;
    font-family: inherit;
}
#logo{
    height: 106px;
    margin: -28px;
    border: 0;
}
#pageinfo{
    /* font-size: 24px; */
    line-height: 32px;
    width: auto;
    font-family: SFProDisplay-Regular, Helvetica, 
    Arial, sans-serif;
    /* margin-left: 30px; */
    padding: 10px 0 20px;
    font-weight: normal;
    display: inline-block;
    letter-spacing: normal;
    color: #1c1e21
}
#logincontainer{
    float: right;
    width: max-content;
    font-size: 12px;
    color:#1c1e21;
    /* height: 400px; */
    line-height: 1.34;
    position: relative;
    bottom: 275px;
    left: 550px;
}
#login_content{
    font-family: inherit;
    height: 456px;
    line-height: 1.34;
}
#login_content #login{
    padding-bottom: 24px;
    padding-top: 10px;
}
#login{
   font-family: inherit;
    margin: 40px 0 0;
   text-align: center;
   background-color: #fff;
   border: none;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 
   0 8px 16px rgba(0, 0, 0, .1);
   box-sizing: border-box;
   padding: 20px 0 28px;
   width: 396px;
   /* height: 350px; */
   color:#1c1e21;
   line-height: 1.34;
   font-size: 12px;
}
#form{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
}
#input{
    font-size: 12px;
    width: 364px;
    display: inline-block;
    margin: auto;
    padding: 6px 0;
    text-align: center;
    line-height: 1.34;
    color: #1c1e21;
}

.inputpass{
    float:left;
    font-size: 17px;
    color: #1c1e21;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    width: 330px;
    /* margin-left: 3px; */
    margin-top: 5px;
    vertical-align: middle;
    padding: 14px 16px;
    height: 22px;
    line-height: 16px;
    height: 22px;
    background-color: #ffffff;
    font-family: sans-serif;
}
.input{
    font-size: 15px;
    color: #1c1e21;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    width: 330px;
    vertical-align: middle;
    padding: 14px 16px;
    height: 22px;
    line-height: 16px;
    height: 22px;
    background-color: #ffffff;
    font-family: sans-serif;
}
#button{
    padding-top: 6px;
    text-align: center;
    
}
.btnlogin:hover{
    background-color: rgb(56, 109, 241);
}
.btnlogin{
    border: 0;
    display: inline-block;
    height: 45px;
    cursor: pointer;
    font-family: sans-serif;
    width: 362px;
    padding: 0 16px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
    vertical-align: middle;
    font-weight: 700;
    border-radius:6px;
    border-style: none;
    margin-left: 3px;
    background-color: rgb(24, 119, 242);
    transition: 200ms cubic-bezier(.08,.52,.52,1) 
    background-color, 200ms cubic-bezier(.08,.52,.52,1) 
    box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}
.reset{
    margin-top: 16px;
}
#resetlink{
    text-decoration: none;
    position: relative;
    padding-left: 10px;
    color: #1877f2;;
    font-size: 15px;
}
#resetlink:hover{
    text-decoration: underline;
}
#breakline{
    border: 1px solid #dadde1;
    display: flex;
    margin: 28px 16px;
    align-items: center;
    text-align: center;
}
#signup{
    padding-top: 6px;
}
#create{
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    border: none;
    position: relative;
    bottom: 14px;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    cursor: pointer;
    padding: 0 16px;
    box-sizing: content-box;
    background-color: #42b72a;
    color: #fff;
    transition: 200ms cubic-bezier(.08,.52,.52,1) 
    background-color, 200ms cubic-bezier(.08,.52,.52,1) 
    box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    font-weight: 650;
    text-align: center;
    text-shadow: none;
    white-space: nowrap;
}
#create:hover{
background-color:#3d8622;
}
#msg{
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
    margin-top: 28px;
    text-align: center;
}
#message{
    font-weight: normal;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    text-decoration-thickness: auto;
    text-decoration-style: solid;
    text-align: center;
    direction: ltr;
    line-height: 1.34;
}
#message:hover{
    text-decoration: underline;
    text-decoration-color:currentColor ;
}
#footer{
    /* max-height:5%; */
    height: max-content;
    padding-top: 20px;
    margin-right: 0;
    margin-bottom: 0;
}
.pagefooter{
    margin: 0 40px 0 40px;
    width: auto;
    height: 10px;
    color: #737373;
    height: max-content;
    font-size: 12px;
}
#list{
    padding-top: 8px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: max-content;
    list-style-type: none;
    font-size:12px;
}
#list > li:first-child{
    padding-left: 0;
    padding: 0;
    padding-right:0;
    border-width: 0;
    display: inline-block;
    list-style-type: none;
    color:#737373;
    font-size: 12px;
    height: max-content;
}
#list >li{
    height: max-content;
    padding-left: 10px;
    border-width: 0 0 0 1px;
    display: inline-block;
}
.pagefooter a{
    height: max-content;
    font-family: inherit;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
    white-space: nowrap;
}
.list{
    height: max-content;
    cursor: pointer;
    color: #8a8d91;
    padding-bottom: 0;
}
#morelang{
    width: 28px;
    height: 20px;
    font-weight: 550;
    font-size: 24px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding-bottom:10px;
    color: #83868a;
    background-color: #dadde1;

}
#contentcurve{
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}
#pageFooterChildren a{
    color:#8a8d91
}
.pageFooterLink > li{
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    line-height: 1.6;
    color: #737373;
    height: 20px;
    
}
ul{
    list-style-type: none;
}
#copyright{
    font-size: 11px;
    margin: 20px;
    margin-bottom: 20px;
    color:#737373;
    
}